body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;

}

button {
    background: #5f9341;
    color:white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    
}

#delete-btn {
    color:#5f9341;
    background-color: white;
}